{% include 'links.html' %}



<!--    <nav class="nav-cust-home">-->
<!--        <a href="/customer_home" class="nav-link-cust">Home</a>-->
<!--        <form action="view_menu" class="search-bar">-->
<!--                <input type="search" name="keyword" id="menu_search" class="input-search" placeholder="Search menu....">-->
<!--                <button class="btn-search">Search</button>-->
<!--        </form>-->
<!--        <a href="/view_menu" class="nav-link-cust">Menu</a>-->
<!--        <div><a class="nav-link-cust" href="/view_cart?view_type=open">CART</a></div>-->
<!--        <div><a class="nav-link-cust" href="/view_cart?view_type=processing">ORDERS</a></div>-->
<!--        <div><a class="nav-link-cust" href="/view_cart?view_type=closed">HISTORY</a></div>-->
<!--        <a href="/view_order" class="nav-link-cust">View Order</a>-->
<!--        <a href="/logout" class="nav-link-cust logout-btn">Logout</a>-->
<!--    </nav>-->







