{% include 'links.html' %}

<nav class="navbar">
    <!-- <a href="/food_truck_home" class="nav-link">HOME</a> -->
    <a href="/food_truck_profile" class="nav-link">PROFILE</a>
    <a href="/update_truck_timings" class="nav-link">ADD TIMINGS</a>
    <a href="/add_menu" class="nav-link">MENU</a>
    <div><a class="nav-link" href="/view_cart?status=Ordered">ORDERS</a></div>
    <a href="/view_cart?status=Dispatched" class="nav-link">Dispatched Orders</a>
    <a href="/view_cart?status=History" class="nav-link">Orders History</a>
    <a href="/logout" class="nav-link logout-btn">LOGOUT</a>
</nav>

