{% include 'head.html' %}
<body>
  <div class="container">
    <div class="box">
      <h1 class="heading">Welcome to Food Truck</h1>
      <div class="button-group">
        <a href="/customer_login" class="box-btn">ORDER FOOD</a>
        <a href="/food_truck_login" class="box-btn">FOOD TRUCK </a>
        <a href="/delivery_boy_login" class="box-btn">DELIVERY PARTNER</a>
        <a href="/admin_login" class="box-btn">ADMIN PORTAL</a>
      </div>
    </div>
  </div>
</body>





