 {% include 'links.html' %}
 

<div class="payment-box">
    <div class="payment-title">
        <h3>Payment Details</h3>
    </div>
    <div class="payment-options">
        <form action="payment_page_action" method="post">
            <input type="hidden" name="order_id" value="{{order_id}}">
            <input type="hidden" name="customer_id" value="{{customer_id}}">
            <input type="hidden" name="total_price" value="{{total_price}}">

            <div class="field-group">
                <label for="total_price" class="field-label">Amount</label>
                <input name="total_price" id="total_price" class="input-box font-bold" value="$ {{total_price}}" disabled>
            </div>

            <div class="field-group">
                <label class="field-label">Order Type</label>
                <select name="order_type" class="input-box" required>
                    <option value="" disabled selected>Choose Order Way</option>
                    <option value="Pick-up">pick-Up</option>
                    <option value="Delivery">Door Step-Delivery</option>
                </select>

            <div class="field-group">
                <label class="field-label">Payment Method</label>
                <select name="payment_method" class="input-box" required>
                    <option value="" disabled selected>Select Payment Method</option>
                    <option value="Debit Card">Debit Card</option>
                    <option value="Credit Card">Credit Card</option>
                </select>
            </div>

            <div class="field-group">
                <label for="card_holder_name" class="field-label">Card Holder Name</label>
                <input type="text" name="card_holder_name" class="input-box card-holder" id="card_holder_name" placeholder="Enter Card Holder Name"  maxlength="26" required>
            </div>
            
            <div class="field-group">
                <label for="card_number" class="field-label">Card Number</label>
                <input type="text" name="card_number" class="input-box card-number" id="card_number" maxlength="19" placeholder="XXXX XXXX XXXX XXXX" required>
            </div>
            
            <script>
                const cardInput = document.getElementById('card_number');
            
                cardInput.addEventListener('input', function (e) {
                    let value = e.target.value.replace(/\D/g, ''); 
                    value = value.substring(0, 16); 
                    let formatted = value.replace(/(.{4})/g, '$1 ').trim(); 
                    e.target.value = formatted;
                });
            </script>

            <div class="field-group row-field">
                <div>
                    <label for="expiry_date" class="field-label">Expiry Date</label>
                    <input type="month" name="expiry_date" class="input-box" id="expiry_date" required >
                </div>

                <script>
                    const expiryInput = document.getElementById("expiry_date");
                    const today = new Date();
                    const year = today.getFullYear();
                    const month = String(today.getMonth() + 1).padStart(2, '0');
                    expiryInput.min = `${year}-${month}`;
                </script>
                <div>
                    <label for="cvv" class="field-label">CVV</label>
                    <input type="text" name="cvv" class="input-box" id="cvv" placeholder="CVV" maxlength="3" pattern="\d{3}" required>
                </div>
                
            </div>

            <div class="btn-container">
                <button type="submit" class="pay-btn">Pay Now</button>
            </div>
            </div>
        </form>
    </div>
</div>


